*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.pb-50{
    padding-bottom: 50px !important;
}
.pt-50{
    padding-top: 50px !important;
}
.mg-50{
    margin: -50px 0 !important;
}
.mg-l-20{
    margin-left: -20px;
}
.mg-r-20{
    margin-right: -20px;
}
.border-card{
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%) !important;
    z-index: 1;
}
.cl-b{
    color: #000c04 !important;
}
.cl-w{
    color: #fff !important;
}

.title-top{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #f53626;
}
.title-bot{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04;
    text-align: center;
    margin-bottom: 48px;
}
.bg-g{
    background-color:#189A46;
}

.p{    
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
    
}

.btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius:10px;
    color: #fff;
    background:#189A46;
    border: none;
}

.border-btn-left button:focus{
    background:#116E32 !important;
    border-color: #189A46 !important ;
    color: #fff;
}





.number {
    background-color: #189A46;
    padding: 48px 0;
}
.number-content{
    justify-content: space-around;
    display: flex;
}
.number-item{
    text-align: center;
    border-radius: 8px;
}
.number-item h4{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}
.number-item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.plan{
    background-color: rgba(147, 107, 232, 0.05);
}
.plan-content{
    
}
.card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  5px;
    padding: 0 70px;
}
.card-item{
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    
}

.card-top{
    padding: 48px 40px 8px 40px;
    border-radius: 8px 8px 0px 0px;
} 
.card-top h5{
    font-size: 15px;
    line-height: 20px;
    color:#189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius:12px;
    margin-top: 30px;
}
.card-top h6{
    font-size: 25px;
}
.card-top h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color:#189A46;
}
.card-top span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.card-top label{
    font-size: 25px;
    vertical-align: text-top;
}
.list-card{
    list-style: none;
}
.card-bot{
    padding: 32px 40px 56px 40px;
}

.card-bot ul{
    margin-bottom: 5px;
    color: #304659;
}
.card-bot li{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
}
.card-bot button{
    margin-top: 32px;
}
.card-bot button:focus{
    box-shadow: 0 0 0 0.2rem rgb(15 162 67 / 65%);
}
